body{
          background-color: white;
}

h2{
          color: black;

}
p{
          color: brown;
}

.post{
          background-color: white;
          margin-bottom: 20px;
          padding: 20px;

}

.post:hover{
          background-color: #f2f2f2;
          h6{
                    color: red;
                    font-size: larger;
                    text-align: center;
          }
          
}
